
{{ 'component-laygrad.css' | asset_url | stylesheet_tag }}
{{ 'component-texture.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'component-laygrad.js' | asset_url }}" defer="defer"></script>
<lay-grad
  class="
    page-width page-width--narrow section-{{ section.id }}-padding 
    laygrad laygrad--heroimg 
    laygrad--typog--{{ section.settings.typography }} 
    laygrad--imgfl--{{ section.settings.imagefilter }} 
    laygrad--anime--{{ section.settings.animation_type }} 
  "
  style="
    --laygrad--grad-rate:{{ section.settings.gradrate }};
    --laygrad--gradblend:{{ section.settings.gradblend }};
    --laygrad--imageblur:{{ section.settings.imageblur }}px;
    --laygrad--image-fil:{{ section.settings.imagefilrate }}%;
    --laygrad--animedura:{{ section.settings.animation_duration }}s;
  "
  {% if section.settings.heroimage %}
    data-heroimg="{{ section.settings.heroimage | img_url: '1024x' }}"
  {% endif %}
 
>
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</lay-grad>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "min-height",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "vh",
      "label": "t:sections.main-page.settings.minheight.label",
      "default": 80
    },
    {
      "type": "image_picker",
      "id": "heroimage",
      "label": "t:sections.main-page.settings.heroimage.label"
    },
    {
      "type": "image_picker",
      "id": "profimage",
      "label": "t:sections.main-page.settings.profimage.label"
    },
    {
      "type": "range",
      "id": "blockwidth-pc",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.all.blockstyle.blockwidth-pc.label",
      "default": 60
    },
    {
      "type": "range",
      "id": "blockwidth-sp",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.all.blockstyle.blockwidth-sp.label",
      "default": 60
    },
    {
      "type": "select",
      "id": "blockstyle",
      "options": [
        {
          "value": "box",
          "label": "t:sections.all.blockstyle.style.box.label"
        },
        {
          "value": "glass",
          "label": "t:sections.all.blockstyle.style.glass.label"
        },
        {
          "value": "lux",
          "label": "t:sections.all.blockstyle.style.lux.label"
        }
      ],
      "default":"box",
      "label": "t:sections.all.blockstyle.style.label"
    },
    {
      "type": "select",
      "id": "typography",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.typography.none.label"
        },
        {
          "value": "whiteborder",
          "label": "t:sections.all.typography.whiteborder.label"
        },
        {
          "value": "blackborder",
          "label": "t:sections.all.typography.blackborder.label"
        },
        {
          "value": "whitedown",
          "label": "t:sections.all.typography.whitedown.label"
        },
        {
          "value": "blackdown",
          "label": "t:sections.all.typography.blackdown.label"
        },
        {
          "value": "graydown",
          "label": "t:sections.all.typography.graydown.label"
        },
        {
          "value": "stecker",
          "label": "t:sections.all.typography.stecker.label"
        },
        {
          "value": "neon",
          "label": "t:sections.all.typography.neon.label"
        },
        {
          "value": "gradation",
          "label": "t:sections.all.typography.gradation.label"
        },
        {
          "value": "pop",
          "label": "t:sections.all.typography.pop.label"
        },
        {
          "value": "foggy",
          "label": "t:sections.all.typography.foggy.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.typography.label"
    },
    {
      "type": "range",
      "id": "gradrate",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "label": "t:sections.all.laygrad.gradrate.label"
    },
    {
      "type": "select",
      "id": "gradblend",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.laygrad.gradblend.none.label"
        },
        {
          "value": "darken",
          "label": "t:sections.all.laygrad.gradblend.darken.label"
        },
        {
          "value": "multiply",
          "label": "t:sections.all.laygrad.gradblend.multiply.label"
        },
        {
          "value": "color-burn",
          "label": "t:sections.all.laygrad.gradblend.color-burn.label"
        },
        {
          "value": "lighten",
          "label": "t:sections.all.laygrad.gradblend.lighten.label"
        },
        {
          "value": "screen",
          "label": "t:sections.all.laygrad.gradblend.screen.label"
        },
        {
          "value": "color-dodge",
          "label": "t:sections.all.laygrad.gradblend.color-dodge.label"
        },
        {
          "value": "overlay",
          "label": "t:sections.all.laygrad.gradblend.overlay.label"
        },
        {
          "value": "soft-light",
          "label": "t:sections.all.laygrad.gradblend.soft-light.label"
        },
        {
          "value": "hard-light",
          "label": "t:sections.all.laygrad.gradblend.hard-light.label"
        },
        {
          "value": "difference",
          "label": "t:sections.all.laygrad.gradblend.difference.label"
        },
        {
          "value": "exclusion",
          "label": "t:sections.all.laygrad.gradblend.exclusion.label"
        },
        {
          "value": "luminosity",
          "label": "t:sections.all.laygrad.gradblend.luminosity.label"
        }
      ],
      "default":"none",
      "label": "t:sections.all.laygrad.gradblend.label"
    },
    {
      "type": "select",
      "id": "imagefilter",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.laygrad.imagefilter.none.label"
        },
        {
          "value": "grayscale",
          "label": "t:sections.all.laygrad.imagefilter.grayscale.label"
        },
        {
          "value": "sepia",
          "label": "t:sections.all.laygrad.imagefilter.sepia.label"
        },
        {
          "value": "brightness",
          "label": "t:sections.all.laygrad.imagefilter.brightness.label"
        },
        {
          "value": "contrast",
          "label": "t:sections.all.laygrad.imagefilter.contrast.label"
        }
      ],
      "default":"none",
      "label": "t:sections.all.laygrad.imagefilter.label"
    },
    {
      "type": "range",
      "id": "imagefilrate",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 50,
      "label": "t:sections.all.laygrad.imagefilrate.label"
    },
    {
      "type": "range",
      "id": "imageblur",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 0,
      "label": "t:sections.all.laygrad.imageblur.label"
    },
    {
      "type": "select",
      "id": "animation_type",
      "options": [
        {
          "value": "scroll",
          "label": "t:sections.all.laygrad.animation_type.t-scroll.label"
        },
        {
          "value": "zoom",
          "label": "t:sections.all.laygrad.animation_type.t-zoom.label"
        },
        {
          "value": "move",
          "label": "t:sections.all.laygrad.animation_type.t-move.label"
        },
        {
          "value": "gradiation",
          "label": "t:sections.all.laygrad.animation_type.t-grad.label"
        }
      ],
      "default": "scroll",
      "label": "t:sections.all.laygrad.animation_type.label"
    },
    {
      "type": "range",
      "id": "animation_duration",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20,
      "label": "t:sections.all.laygrad.duration.label"
    }
  ]
}
{% endschema %}
